# Создайте файл .env и установите свои параметры для приложения

APP_TITLE=Название приложения
DATABASE_URL=sqlite+aiosqlite:///./fastapi.db
SECRET=SECRET
FIRST_SUPERUSER_EMAIL=root@admin.ru
FIRST_SUPERUSER_PASSWORD=root